# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Claude
.claude

# Expo
.expo/
.expo-shared/

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Expo Prebuild
/android/
/ios/

# Build output
dist/
build/

# Misc
.env
.env.*.local
*.local

# VSCode/JetBrains/WebStorm/IDEs
.vscode/
.idea/
.idea

# Expo EAS files
*.turtle/
eas.json

# Logs
*.log

# Coverage
coverage/
